* {
    box-sizing: border-box;
    color: white;
  }

  body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: rgb(9, 44, 9);

  }

  h1 {
    display: flex;
    justify-content: center;
  }

  main {
    display: flex;
    justify-content: center;
  }

  #score-board {
      display: flex;
      justify-content: space-around;
  }

  #start-game {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-right: 45%;
      margin-left: 45%;
      background-color: rgb(77, 42, 22);
  }

  #instruction {
    margin-top: 20px;
    margin-right: 25%;
    margin-left: 25%;
  }

  .square {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: rgb(77, 42, 22);
  }

  .mouse {
    background-color: rgb(59, 59, 52);
}
  .snake {
      background-color: rgb(60, 129, 63);
  }
